# Цей файл вказує всім IDE (Rider, Visual Studio, VS Code) однакові правила
root = true

[*]
# Примусово встановлюємо UTF-8 для всіх файлів
charset = utf-8
# Уніфікуємо перенесення рядків (щоб Git не сварився на розбіжності Windows/Mac)
end_of_line = lf
# Завжди додавати порожній рядок в кінці файлу (стандарт)
insert_final_newline = true
